<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Library Management System</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div class="navbar">
        <a href="bookCol">Book</a>
        <a href="staffCol">Staff</a>
        <a href="studentCol">Student</a>
    </div>
    <header>
        <div class="container">
            <h1>Welcome to the Library</h1>
            <p>Manage your books efficiently with our Library Management System.</p>
            <a href="#about" class="btn">Learn More</a>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <h2>About</h2>
            <p>The Library Management System allows you to organize books, manage borrowers, and handle library operations effectively.</p>
            <p>Features:</p>
            <ul>
                <li><a href="book">Book</a></li>
                <li><a href="staff">Staff</a></li>
                <li><a href="student">Student</a></li>
                
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2023 Library Management System</p>
        </div>
    </footer>
</body>

</html>
